process {
  executor='slurm'
  queue='short'
  memory='32 GB'
  maxForks=5
}
params {
  genomes {
    'NCBIM37' {
       fasta     = '/scratch/Users/alsw5948/JB_K-M/JB_K-M_rnaseq_analysis/JB_K-M_rnaseq/util/NCBIM37.genome.fa'
       gtf       = '/scratch/Users/alsw5948/JB_K-M/JB_K-M_rnaseq_analysis/JB_K-M_rnaseq/util/gencode.vM1.annotation.gtf'
     } 
   }
 }
